@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #87cefa;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.arc {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white; /* Font color */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    4px 4px 0 black; /* Creates the black outline */
}

.protest-strike-regular {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}
